<!DOCTYPE html>
<html>
<head>
    <meta charst="UTF-8">
    <title>Login PAGE</title>
</head>
<body>
<h1>Login page</h1>
<hr/>
<form action="/login" method="POST">
    <input type="text" name="username" placeholder="Username"/><br/>
    <input type="password" name="password" placeholder="Password"/><br/>
    <button>Login</button>
</form>
<a href="/oauth2/authorization/google">google login</a>
<a href="/oauth2/authorization/facebook">facebook login</a>
<a href="/joinForm">JOIN</a>
</body>
</html>